<nav class="container-fluid bg-dark text-white py-2">
  <div class="d-flex align-items-center">
    <div class="mx-2">
      <a routerLink="/"><img src="../../../favicon.ico" alt="app-logo"></a>
    </div>
    <ul class="d-flex list-unstyled m-0 ">
      <li
        class="nav-link mx-1 "><a class="text-decoration-none text-white" routerLink="/addusers"
                                  routerLinkActive="nav-link-active">Add users</a></li>
      <li
        class="nav-link mx-1"><a class="text-decoration-none text-white" routerLink="/interpolation"
                                 routerLinkActive="nav-link-active">Users
        List</a></li>
    </ul>
  </div>
</nav>
